[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/karanpersonal
[access "refs/for/refs/*"]
	read = group user/karanpersonal
	push = group user/karanpersonal
	label-Code-Review = -2..+2 group user/karanpersonal
	label-Verified = -1..+1 group user/karanpersonal
	rebase = group user/karanpersonal
	removeReviewer = group user/karanpersonal
	submit = group user/karanpersonal
[access "refs/heads/*"]
	read = group user/karanpersonal
	create = group user/karanpersonal
	push = +force group user/karanpersonal
	pushMerge = group user/karanpersonal
[access "refs/tags/*"]
	push = +force group user/karanpersonal
	pushTag = group user/karanpersonal
	pushSignedTag = group user/karanpersonal
